.CountryCard {
  background-color: var(--main-color);
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);

  border-radius: 5px;
  width: 250px;
  height: 320px;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    object-position: center;
    height: 150px;
  }

  .Details {
    padding: 1rem;
    h4{
      margin-bottom: 1rem;
    }
    ul{
      list-style: none;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.5rem;
      li > span {
        font-weight: 300;
      }

    }

  }
}
