.Spinner {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  animation: rotation 1s infinite backwards linear;
  border: 10px solid hsla(0, 0%, 50%, .5);
  border-left: 10px solid var(--main-font);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
